@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 130%;
    font-style: normal;
    color: #ffffff;
  }

  .welcome-image {
    width: 200px; /* Adjust the width as needed */
    height: auto;
}

.image-container {
  position: absolute;
  top: -50px;
  left: -10px;
}

.text-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 200px;
  padding: 10px;
  margin: 10px 0;
}

.submit-button {
  width: 220px; /* Make the buttons wider */
  padding: 15px; /* Increase the padding for larger buttons */
  margin: 10px 0; /* Add margin between buttons */
  border: none;
  background-color: #d0d4d4;
  color: #00265a;
  cursor: pointer;
}

  body {
    background-color: #00265a;
  }