@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.chat-container {
  display: flex;
  height: 100vh;
  width: 100%;
  padding-right: 40px; /* Add padding to move the chat to the left */
  background-color: #01265a;
}

.history {
  display: flex;
  flex-direction: column;
  width: 65%;
  box-sizing: border-box;
  padding-left: -100px; /* Add padding to move the chat to the right */
  color: #fff;
}

.list-container {
  width: 35%;
  padding: 20px;
  padding-top: 200px; /* Add padding to move the list down */
  padding-left: 40px;
  box-sizing: border-box;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
}

.list-container li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat {
  display: flex;
  justify-content: flex-end; /* Align chat to the right */
  align-items: center;
  width: 95%;
  box-sizing: border-box;
}

.border-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  height: 85%; 
  max-width: 600px;
  box-sizing: border-box;
  position: relative;
}

.image-container {
  left: 125px;
  position: absolute;
  transform: translateX(-50%);
}

.image2 {
  width: 200px; /* Increase the width */
  height: 200px;

}

.chatBot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #f0f0f0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.chatbox {
  list-style: none;
  height: 100%;
  width: 90%;
  max-height: 500px;
  overflow-y: auto;
}

.text {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chat-incoming .chat-bubble {
  background-color: #e0e0e0;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 80%;
  align-self: flex-start;
}

.past-chat {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 80%;
  align-self: flex-start;
}


.chat-outgoing .chat-bubble {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 80%;
  align-self: flex-end;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #0084ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .border-chat {
    padding: 10px;
  }

  .chat-input {
    flex-direction: column;
  }

  .chat-container {
    flex-direction: column;
  }

  .list-container, .chat {
    width: 100%;
  }
}