@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  height: 100vh; /* Set height to 100% of the viewport height */
  margin: 0; /* Remove default margin */
  display: flex;
  flex-direction: column;
}

.menu-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 500px;
}

.menu-list li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1E1E1E; /* Black background color */
  color: #fff; /* White text color */
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */

}

.side-menu {
  position: absolute;
  top: 0;
  left: 0; /* Initially hide the menu off-screen */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: left 0.3s ease;
}


.menu-button {
  position: absolute;
  top: 20px;
  left: 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.chatbox {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 350%;
  max-height: 350px;
  transform: translateY(-50px);
}



.chatbox .outgoing {
  background-color: #3B3B3B; /* Light blue for incoming messages */
  color: #ccc;
  transform: translateX(390px);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;

  max-width: 200px;
  overflow-x: hidden;
}

.chatbox .incoming  {
  margin-bottom: 10px;
  padding: 10px;

  max-width: 200px;
  overflow-x: hidden;
  color: #ccc;
}


.chatbox .human {
  background-color: #3B3B3B; /* Light blue for incoming messages */
  color: #ccc;
  transform: translateX(390px);
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;

  max-width: 200px;
  overflow-x: hidden;
}

.chatbox .ai  {
  margin-bottom: 10px;
  padding: 10px;

  max-width: 200px;
  overflow-x: hidden;
  color: #ccc;
}



.chatBot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90%;
  margin-top: 150px; /* Push the element to the bottom */
}

.text {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  padding-top: 10px;
  width: 100%;
}


.button_chat {
  padding: 10px 10px;
  border: none;
  background-color: #1E1E1E;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.button_chat:hover {
  background-color: #000000;
}

.chat-input {/* Cambia la direzione del flex per posizionare gli elementi in colonna */
  display: flex; 
  padding-bottom: 20px;
  width: 350%;
  align-items: center; /* Allinea gli elementi a sinistra */
  transform: translateY(-100px);
}

.chat-input-menu-open {/* Cambia la direzione del flex per posizionare gli elementi in colonna */
  display: flex; 
  padding-bottom: 20px;
  width: 350%;
  align-items: center; /* Allinea gli elementi a sinistra */
  transform: translateX(150px);
  transform: translateY(-100px);
}

.chatbox-menu-open{
  transform: translateX(150px);
}

.chatbox-menu-open {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 350%;
  max-height: 350px;
}

.chatbox-menu-open li {
  margin-bottom: 10px;
  padding: 10px;
  max-width: 200px;
  overflow-x: hidden;
}

.chatbox-menu-open .outgoing {
  background-color: #3B3B3B; /* Light blue for incoming messages */
  color: #ccc;
  transform: translateX(390px);
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chatbox-menu-open .incoming {
  color: #ccc;
}

.chatbox-menu-open .human {
  background-color: #3B3B3B; /* Light blue for incoming messages */
  color: #ccc;
  transform: translateX(390px);
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chatbox-menu-open .ai {
  color: #ccc;
}




/* Media queries for responsiveness */
@media (max-width: 600px) {
  .border-chat {
    padding: 10px;
  }

  .chat-input {
    flex-direction: column;
  }

  .chat-container {
    flex-direction: column;
  }

  .list-container, .chat {
    width: 100%;
  }
}